<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allai</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="main.js"></script>
    <script src="assets/vendor/typed.js/typed.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div id="top_bar">
        <br>
        <h1>allai.space</h1>
        <p><span class="typed" data-typed-items="Writing Platform, Supportive Platform, Intelligent Platform, Safe Platform, Inclusive Platform"></span></p>
    </div>
    <div id="form">
        <textarea id="user_input" type="text" placeholder="Start by writing or pasting text into here"></textarea>
        <textarea id="text_output" type="button" value="Modified Text"></textarea>
        <br>
        <button onclick="getText()" type="submit" id="submit_button">Submit</button>
    </div>
    <div id='suggestions'>
        <textarea id='suggestionsBox'type="button"value="Suggestions:"></textarea>
    </div>
</body>

</html>
