<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All.AI</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="main.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div id="top_bar">
        <br>
        <h1>allai.space</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum blanditiis ipsum perspiciatis quasi dolor,
            ipsa tempore quibusdam praesentium vero consequatur ducimus nesciunt architecto iste. Aspernatur expedita
            incidunt vero qui dignissimos!
        </p>
    </div>
    <div id="form">
        <input id="user_input" type="text" placeholder="Start by writing or pasting text into here"/></input>
        <input id="text_output" type="button" value="Modified Text"/></input>
        <br>
        <button onclick="getText()" type="submit" id="submit_button">Submit</button>
    </div>
    <div id='suggestions'>
        <input id='suggestionsBox'type="button"value="Suggestions!"></input>
    </div>
</body>

</html>